name: Test My GitHub Action
on:
  push:
    branches:
      - main
    paths:
      - 'tests/**'
    tags-ignore:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
    paths:
      - 'tests/**'
jobs:
  build:
    runs-on: ubuntu-latest
    name: Start a LRE load test
    env:
      lre_username: ${{ secrets.LRE_USERNAME2 }}
      lre_password: ${{ secrets.LRE_PASSWORD2 }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: '11'
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: List _actions directory contents
        run: 'ls -R /home/runner/work/_actions'
      - name: Run My GitHub Action
        uses: MicroFocus/lre-gh-action@v1.0.3
        with:
          lre_action: ExecuteLreTest
          lre_description: running new yaml test
          lre_server: ${{ secrets.LRE_SERVER2 }}
          lre_https_protocol: true
          lre_authenticate_with_token: true
          lre_domain: ibab
          lre_project: ibab_ob
          lre_test: 181
          lre_test_instance: AUTO
          lre_timeslot_duration_hours: 0
          lre_timeslot_duration_minutes: 30
          lre_post_run_action: Collate and Analyze
          lre_vuds_mode: false
          lre_trend_report: 8
          lre_status_by_sla: false
          lre_output_dir: ${{ github.workspace }}
          lre_enable_stacktrace: true
      - name: List workspace directory contents
        run: 'ls -R ${{ github.workspace }}/LreResult'
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: '${{ github.workspace }}/LreResult'
